{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Farms{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Farms</h1>
        {% if farms %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Name </th>
                  <th width="15%"> Location </th>
                  <th width="15%"> Total Field Area </th>
                  <th width="15%"> Average Temperature </th>
                  <th width="15%"> Farmer Count </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for farm in farms %}
                <tr>
                  <td> {{ farm.name }} </td>
                  <td> {{ farm.location }} </td>
                  <td> {{ farm.total_field_area }} </td>
                  <td> {{ farm.average_temperature }} </td>
                  <td>
                    {% if farm.farmers %}
                      {{ farm.farmers.count() }}
                    {% else %}
                      0
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('crud_app.edit_farm', id=farm.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('crud_app.delete_farm', id=farm.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No farms have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('crud_app.add_farm') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Farm
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}